<div class="panel panel-default">
  <div class="panel-heading"><%= mensaje[0..-1] %></div>
  <div class="panel-body">
	<p>el archivo no fue procesado porque no pertenece a la obra social seleccionada.</p>
	<p></p>
  </div>
</div>