<h2>Bienvenido a CubaLab</h2>
<p>Seleccione un archivo de rendici&oacute;n y presione exportar seg&uacute;n corresponda.</p>
  <form action="/procesar" enctype="multipart/form-data" method="post" name="SubirArchivo">
    <input type="file" id="file" name="files[]" multiple accept="text/txt">
    <input name="submit" type="submit" value="Exportar OSECAC" />
    <input name="submit" type="submit" value="Exportar UNNE" />
  </form>
</p>
